gameserver/data/skill_tree/skill_enchant_data.dtd

<!ELEMENT list (skill)*>
<!ELEMENT skill (route)*>
<!ATTLIST skill
        id CDATA #REQUIRED>
<!ELEMENT route (enchant)*>
<!ATTLIST route
        id CDATA #REQUIRED>
<!ELEMENT enchant (#PCDATA)>
<!ATTLIST enchant
        chances CDATA #REQUIRED
        exp CDATA #REQUIRED
        level CDATA #REQUIRED
        neededItemCount CDATA #IMPLIED
        neededItemId CDATA #IMPLIED
        skillLvl CDATA #REQUIRED
        sp CDATA #REQUIRED>